@using Microsoft.Extensions.Options
@inject IOptions<BookStore.Domain.StripeSettings> Stripe
@model BookStore.Domain.Entity.ShoppingCart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @{
        var TotalPrice = Model.Books.Sum(b => b.Price);
        var BookCounts = Model.Books.GroupBy(b => b.Id).Select(b =>  new { BookId = b.Key, Count = b.Count() }).ToList();
    }

    <div class="row m-4">
        @if (TotalPrice != 0)
        {
            <form asp-controller="ShoppingCart" asp-action="PayOrder" method="post">
                <article>
                    <script src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="@Stripe.Value.PublishableKey"
                        data-locale="auto"
                        data-description="EBook Application Payment"
                        data-amount="@(TotalPrice * 100)"
                        data-label="Pay $@TotalPrice">
                    </script>
                </article>
            </form>
        }
    </div>

    <div class="row m-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Book Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Books.Count == 0)
                {
                    <tr>
                        <td colspan="5">No active Products</td>
                    </tr>
                }
                else
                {
                    @for (int i = 0; i < BookCounts.Count; i++)
                    {
                        var bookCount = BookCounts.ElementAt(i);
                        var item = Model.Books.First(b => b.Id == bookCount.BookId);
                        <tr>
                            <th scope="row">@(i + 1)</th>
                            <td>@item.BookName</td>
                            <td>@bookCount.Count</td>
                            <td>$@item.Price</td>
                            <td><a asp-controller="ShoppingCart" asp-action="DeleteFromShoppingCart" asp-route-id="@item.Id" class="btn btn-danger">Delete From ShoppingCart</a></td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th scope="col">TotalPrice:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">$@TotalPrice</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>