@using Microsoft.Extensions.Options
@inject IOptions<BookStore.Domain.StripeSettings> Stripe
@model BookStore.Domain.Entity.ShoppingCart

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @{
         var TotalPrice = Model.BookInShoppingCarts.Sum(b => b.CurrentBook.Price*b.Quantity);
        
    }

    <div class="row m-4">
        @if (TotalPrice != 0)
        {
            <form asp-controller="ShoppingCart" asp-action="PayOrder" method="post">
                <article>
                    <script src="https://checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="@Stripe.Value.PublishableKey"
                        data-locale="auto"
                        data-description="EBook Application Payment"
                        data-amount="@(TotalPrice * 100)"
                        data-label="Pay $@TotalPrice">
                    </script>
                </article>
            </form>
        }
    </div>

    <div class="row m-4">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Book Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.BookInShoppingCarts.Count == 0)
                {
                    <tr>
                        <td colspan="5">No active Products</td>
                    </tr>
                }
                else
                {
                    @foreach(var book in Model.BookInShoppingCarts)
                    {
                        <tr>
                            <th scope="row">@book.CurrentBook.Id</th>
                            <td>@book.CurrentBook.BookName</td>
                            <td>@book.Quantity</td>
                            <td>@book.CurrentBook.Price</td>
                            <td>
                                <a asp-controller="ShoppingCart" asp-action="DeleteFromShoppingCart" asp-route-id="@book.CurrentBook.Id">Remove</a>
                            </td>
                        </tr>
                    }
             
                    
                }
            </tbody>
            <tfoot class="thead-dark">
                <tr>
                    <th scope="col">TotalPrice:</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">$@TotalPrice</th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>