@model BookStore.Web.ViewModel.AddUserToRoleViewModel
@{
    ViewData["Title"] = "Add User To Role";
}

<div class="row">
    <div class="col-12 col-md-6 mx-auto mt-4 pt-3">
        <h3>Add user to role</h3>
        @using (Html.BeginForm("ManageUserRoles", "Account", FormMethod.Post, new { @class = "mt-2" }))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.UserId)
            <div class="form-group">
                @Html.LabelFor(m => m.User.FirstName, new { @class = "font-weight-bold" })
                @Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.User.LastName, new { @class = "font-weight-bold" })
                @Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.User.Email, new { @class = "font-weight-bold" })
                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", @disabled = "disabled" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.User.Roles, new { @class = "font-weight-bold" })
                @Html.TextBox(
            "Roles",
            string.Join(", ", Model.User.Roles),
            new { @class = "form-control", @disabled = "disabled" }
            )
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.RoleId, new { @class = "font-weight-bold" })
                @Html.DropDownListFor(
            m => m.RoleId,
            new SelectList(Model.Roles, "Id", "Name"),
            new {@class = "form-control" })
                @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-dark w-25 mb-2">Add</button>
            </div>
        }
    </div>
</div>
