@model BookStore.Domain.Entity.Order

<div class="container">
    <p>
       For: @Model.User.UserName
    </p>

    <a asp-action="Index">Back to List</a>

    @for (int i = 0; i < Model.Books.Count(); i++)
    {
        var item = Model.Books.ElementAt(i);
        var bookQuantity = Model.Books.GroupBy(x => x.Id).Select(x => x.Count());

        if (i % 3 == 0)
        {
            @:<div class="row">
        }

            <div class="container">
                <hr />

                <div class="row">
                    <div class="col-6">
                        <div class="card border-dark mb-3 text-black-50" style="max-width: 25rem;">
                            <div class="card-header"><h3>@item.BookName</h3> </div>
                            <div class="card-body text-dark">

                                <p class="card-text">


                                    <label class="col-sm-10">
                                        <b>Description:</b> <br />
                                       @item.BookDescription
                                    </label>

                                    <label class="col-sm-10">
                                        <b>Price:</b> <br />
                                       @item.Price $
                                    </label>
                                    <label class="col-sm-10">
                                        <b>Genre:</b> <br />
                                       @item.Genre
                                    </label>
                                <p>Quantity: @bookQuantity</p>


                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div style="width: 18rem; height: 30rem;">
                            <img class="img-thumbnail" src="@item.BookImage" alt="Image for Book!" />
                        </div>
                    </div>

                </div>
                </div>
          

          
        
    }


</div>